.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background: transparent url("../images/Heart.svg") center no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_liked {
  background-image: url("../images/LikedHeart.svg");
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url("../images/LikedHover.svg");
  opacity: 1;
}

.card__delete-button {
  background: transparent url("../images/DefaultTrash.svg") center no-repeat;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  opacity: 1;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card__delete-button:hover {
  background: transparent url("../images/HoverTrash.svg") center no-repeat;
  opacity: 1;
}

.card__title {
  font-family: Poppins, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  margin: 0;
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
    position: relative;
  }
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
    line-height: 16px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
